/* Footer */
footer{
    background-color: #DC4100;
    color: white;
    z-index: 100;
}

/* Logo en el footer */
.BoLogo{
    height: 80px;
}

/* Listas - - Menu en el footer */
#sinf {
    list-style: none;
    padding-top: 2px;
}

#sinf a {
    color: white;
    text-decoration: none;
}

#sinf a:hover {
    text-decoration: underline;
    padding: 5px;
    font-weight: 600;
}