
/* Contenedores DOS COLUMNAS */
.contenedor2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.contenedor2 h1{
    color:#DC4100;
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 120px;
}

.contenedor2 p{
    color: #3d3d3d;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 0;
}

.foto img{
    width: 100%;
}

/* Contenedores UNA COLUMNAS */
.contenedor1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.hline{
    width: 100%;
    height: 1px;
    background-color: grey;
}

.hline2{
    width: 100%;
    height: 1px;
    background-color: grey;
}

.dosListaGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dosListaGrid ul li{
    font-size: 18px;
    padding-top: 8px;
}

/* Titulo - Contenedores */
.titel h1{
    color:#DC4100;
    font-size: 35px;
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Imagen - Contenedores */
.titel img{
    width: 55px;
    padding-right: 17px;
}

#sin {
    list-style: none;
    padding-top: 2px;
}

.contenedor3{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.listaHorizontal{
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(250px, 2fr);
    overflow-x: auto;
}

.listaHorizontal div{
    width: auto;
}

.listaHorizontal p{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.listaHorizontal img{
    height: 50px;
    padding-right: 17px;
    padding-left: 17px;
}

.contenedor4{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.porta{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top:50px
}

.boton{
    width: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;

    font-size: 18px;
    font-weight: 500;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #3d3d3d;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DC4100;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
