body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
}

/* Menu de la BARRA SUPERIOR */
.menu{
    align-items: center;
}

#logoN{
    height: 60px;
}

/* Hover y decoración de los botones del menu principal */

.menu button {
    font-size: 1rem;
    color: grey;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
.menu button:hover {
    color: #DC4100;
}
  
.menu button:focus:after,
.menu button:hover:after {
    width: 100%;
    left: 0%;
}
  
.menu button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #DC4100;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}


/* Contenedor - MENU DERECHO CONTACTOS */
.barRightP{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 20px;
    height: 85%;
}

/* DIVS - Contenedores - MENU DERECHO CONTACTOS */
.barRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Linea superior - MENU DERECHO CONTACTOS */
.line1{
    background-color: grey;
    width: 2px;
    height: 50%;
}

/* Linea inferior - MENU DERECHO CONTACTOS */
.line2{
    background-color: grey;
    width: 2px;
    height: 18%;
}

/* Logos - MENU DERECHO CONTACTOS */
.imgM{
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}